<div>
  <p-toast></p-toast>
  <p-blockUI [blocked]="loading"></p-blockUI>
  <p-progressBar mode="indeterminate" *ngIf="loading"></p-progressBar>
  <app-header-return
    [transactionType]="transactionType"
    [people]="customers"
    [warehouses]="warehouses"
    [newItem]="newItem"
    (submit)="submit($event)"
    (resetOrderDetails)="resetOrderDetails($event)"
    (onPeopleChanged)="onCustomerChanged($event)"></app-header-return>
  <app-reference-header
    [orders]="orders"
    (initializeOrderDetails)="initializeOrderDetails($event)"></app-reference-header>
  <app-list-item
    [transactionType]="transactionType"
    [units]="units"
    [items]="items"
    [orderDetails]="orderDetails" 
    [isRowDataEditable]="isRowDataEditable" 
    [isDeleteRowsEnabled]="isDeleteRowsEnabled"
    [isRowQuantityEditable]="isRowQuantityEditable"
    (addRow)="onAddRow($event)" 
    (deleteRow)="onDeleteRow($event)"></app-list-item>
</div>