<p-menubar [model]="detailMenuItems"></p-menubar>
<p-table [value]="orderDetails" resizableColumns="true" #searchItemLoc selectionMode="multiple" [(selection)]="selectedRows">
  <ng-template pTemplate="header">
    <tr>
      <th pResizableColumn style="width:120px">Item Code</th>
      <th pResizableColumn style="width:450px">Description</th>
      <th style="width:60px">Qty</th>
      <th style="width:70px" *ngIf="isQtyDrVisible()">Qty Dr</th>
      <th style="width:70px" *ngIf="isQtyReceivedVisible()">Qty Received</th>
      <th style="width:70px" *ngIf="isQtyInvoiceVisible()">Qty Invoice</th>
      <th style="width:70px" *ngIf="isQtyBilledVisible()">Qty Billed</th>
      <th style="width:70px" *ngIf="isQtyReturnVisible()">Qty Return</th>
      <th style="width:120px" *ngIf="isWarehouseVisible()">Warehouse</th>
      <th style="width:120px">Unit</th>
      <th style="width:100px">{{isPeopleACustomer()? 'Unit Price': 'Cost Price'}}</th>
      <th style="width:100px">Discount</th>
      <th style="width:150px">Sub Total</th>
      <th style="width:150px" pResizableColumn *ngIf="isRefNoVisible()">Reference No</th>
      <th style="width:250px" pResizableColumn>Remarks</th>
      <th style="width:60px">Closed</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-index="rowIndex">
    <tr tabindex="0" (keydown.enter)="OnEnter(index, rowData)" [pSelectableRow]="rowData">
      <td>
        {{rowData.itemCode}}
      </td>
      <td pEditableColumn class="ui-fluid">
        <p-cellEditor>
          <ng-template pTemplate="input">
            <p-autoComplete [(ngModel)]="text" [suggestions]="searchedItems" (completeMethod)="searchItems($event)"
              [appendTo]="searchItemLoc" minLength="3" field="label" (onSelect)="itemChanged($event, rowData)"
              placeholder="Search item" emptyMessage="Item not found" autofocus="true" required *ngIf="isDetailEditable(rowData)"></p-autoComplete>
            <span class="pad5" *ngIf="!isDetailEditable(rowData)">
              {{rowData.description}}
            </span>
          </ng-template>
          <ng-template pTemplate="output">
            {{rowData.description}}
          </ng-template>
        </p-cellEditor>
      </td>
      <td pEditableColumn class="text-right">
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText type="text" [(ngModel)]="rowData.qty" (input)="computeSubTotal(rowData)" required *ngIf="isQuantityEditable(rowData)">
            <span class="pad5" *ngIf="!isQuantityEditable(rowData)">
              {{rowData.qty}}
            </span>
          </ng-template>
          <ng-template pTemplate="output">
            {{rowData.qty}}
          </ng-template>
        </p-cellEditor>
      </td>
      <td class="text-right" *ngIf="isQtyDrVisible()">
        {{rowData.qtyDr}}
      </td>
      <td class="text-right" *ngIf="isQtyReceivedVisible()">
        {{rowData.qtyReceived}}
      </td>
      <td class="text-right" *ngIf="isQtyInvoiceVisible()">
        {{rowData.qtyInvoice}}
      </td>
      <td class="text-right" *ngIf="isQtyReturnVisible()">
        {{rowData.qtyReturn}}
      </td>
      <td class="text-right" *ngIf="isQtyBilledVisible()">
        {{rowData.qtyBill}}
      </td>
      <td pEditableColumn *ngIf="isWarehouseVisible()">
        <p-cellEditor>
          <ng-template pTemplate="input">
            <p-dropdown [options]="warehouses" [(ngModel)]="rowData.warehouseId" [appendTo]="searchItemLoc" (onChange)="warehouseChanged($event, rowData)"
              placeholder="Select Warehouse" required *ngIf="isDetailEditable(rowData)"></p-dropdown>
            <span class="pad5" *ngIf="!isDetailEditable(rowData)">
              {{rowData.warehouseDescription}}
            </span>
          </ng-template>
          <ng-template pTemplate="output">
            {{rowData.warehouseDescription}}
          </ng-template>
        </p-cellEditor>
      </td>
      <td pEditableColumn>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <p-dropdown [options]="units" [(ngModel)]="rowData.unitId" [style]="{'width':'100%'}" [appendTo]="searchItemLoc"
              (onChange)="unitChanged($event, rowData)" placeholder="Select Unit" required *ngIf="isDetailEditable(rowData)"></p-dropdown>
            <span class="pad5" *ngIf="!isDetailEditable(rowData)">
              {{rowData.unitDescription}}
            </span>
          </ng-template>
          <ng-template pTemplate="output">
            {{rowData.unitDescription}}
          </ng-template>
        </p-cellEditor>
      </td>
      <td pEditableColumn class="text-right">
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText type="number" [(ngModel)]="rowData.unitPrice" (input)="computeSubTotal(rowData)" required
              *ngIf="isDetailEditable(rowData)">
            <span class="pad5" *ngIf="!isDetailEditable(rowData)">
              {{rowData.unitPrice | currency:"&#8369;"}}
            </span>
          </ng-template>
          <ng-template pTemplate="output">
            {{rowData.unitPrice | currency:"&#8369;"}}
          </ng-template>
        </p-cellEditor>
      </td>
      <td pEditableColumn class="text-right">
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText type="number" [(ngModel)]="rowData.discount" (input)="computeSubTotal(rowData)" *ngIf="isDetailEditable(rowData)">
            <span class="pad5" *ngIf="!isDetailEditable(rowData)">
              {{rowData.discount | currency:"&#8369;"}}
            </span>
          </ng-template>
          <ng-template pTemplate="output">
            {{rowData.discount | currency:"&#8369;"}}
          </ng-template>
        </p-cellEditor>
      </td>
      <td class="text-right">
        {{rowData.subTotal | currency:"&#8369;"}}
      </td>
      <td *ngIf="isRefNoVisible()">
        {{rowData.refNo}}
      </td>
      <td pEditableColumn>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText type="text" [(ngModel)]="rowData.remarks" required *ngIf="isDetailEditable(rowData)">
            <span class="pad5" *ngIf="!isDetailEditable(rowData)">
              {{rowData.remarks}}
            </span>
          </ng-template>
          <ng-template pTemplate="output">
            {{rowData.remarks}}
          </ng-template>
        </p-cellEditor>
      </td>
      <td class="text-center">
        <p-checkbox [(ngModel)]="rowData.closed" binary="true" disabled></p-checkbox>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="footer">
    <tr>
      <td>No. of Items : {{ getTotalItem() }}</td>
      <td></td>
      <td class="text-right">{{ getTotal('qty') }}</td>
      <td class="text-right" *ngIf="isQtyDrVisible()">{{ getTotal('qtyDr') }}</td>
      <td class="text-right" *ngIf="isQtyReceivedVisible()">{{ getTotal('qtyReceived') }}</td>
      <td class="text-right" *ngIf="isQtyInvoiceVisible()">{{ getTotal('qtyInvoice') }}</td>
      <td class="text-right" *ngIf="isQtyBilledVisible()">{{ getTotal('qtyBill') }}</td>
      <td class="text-right" *ngIf="isQtyReturnVisible()">{{ getTotal('qtyReturn') }}</td>
      <td *ngIf="isWarehouseVisible()"></td>
      <td></td>
      <td class="text-right">{{ getTotal('unitPrice') | currency:"&#8369;" }}</td>
      <td class="text-right">{{ getTotal('discount') | currency:"&#8369;" }}</td>
      <td class="text-right">{{ getTotal('subTotal') | currency:"&#8369;"}}</td>
      <td *ngIf="isRefNoVisible()"></td>
      <td></td>
      <td></td>
    </tr>
  </ng-template>
</p-table>