<div>
  <p-toast></p-toast>
  <p-progressBar mode="indeterminate" *ngIf="loading"></p-progressBar>
  <p-menubar [model]="menuItems"></p-menubar>
  <p-table #dt [columns]="cols" [value]="items" selectionMode="single" [(selection)]="item" (onRowSelect)="onRowSelect($event)"
    [paginator]="true" [rows]="10" [globalFilterFields]="['name','code']" sortField="name">
    <ng-template pTemplate="caption">
      <div style="text-align: right">
        <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
        <input type="text" pInputText size="50" placeholder="Search by code or name" (input)="dt.filterGlobal($event.target.value, 'contains')"
          style="width:auto">
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          {{col.header}}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <td *ngFor="let col of columns">
          {{rowData[col.field]}}
        </td>
      </tr>
    </ng-template>
  </p-table>
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="createItem()">
    <p-dialog header="Customer Form" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true"
      [style]="{width:'800px'}">
      <div class="p-grid ui-fluid" *ngIf="item">
        <div class="p-col-12 p-md-6 p-lg-6">
          <div class="p-grid">
            <div class="p-col-4 text-right">
              <label for="code">Code</label>
            </div>
            <div class="p-col-8">
              <input pInputText id="code" formControlName="code" />
            </div>
            <div class="p-col-4 text-right">
              <label for="registeredName">Registered Name</label>
            </div>
            <div class="p-col-8">
              <input pInputText id="registeredName" formControlName="registeredName" />
            </div>
            <div class="p-col-4 text-right">
              <label for="contactPerson">Contact Person</label>
            </div>
            <div class="p-col-8">
              <input pInputText id="contactPerson" formControlName="contactPerson" />
            </div>
            <div class="p-col-4 text-right">
              <label for="businessStyle">Business Style</label>
            </div>
            <div class="p-col-8">
              <input pInputText id="businessStyle" formControlName="businessStyle" />
            </div>
            <div class="p-col-4 text-right">
              <label for="tinno">TIN No</label>
            </div>
            <div class="p-col-8">
              <input pInputText id="tinno" formControlName="tinno" />
            </div>
            <div class="p-col-4 text-right">
              <label for="telNo">Telephone No</label>
            </div>
            <div class="p-col-8">
              <p-inputMask mask="(999)999-9999" id="telNo" formControlName="telNo"></p-inputMask>
            </div>
          </div>
        </div>
        <div class="p-col-12 p-md-6 p-lg-6">
          <div class="p-grid">
            <div class="p-col-4 text-right">
              <label for="name">Name</label>
            </div>
            <div class="p-col-8">
              <input pInputText id="name" formControlName="name" class="ng-dirty ng-invalid" />
            </div>
            <div class="p-col-4 text-right">
              <label for="registeredOwner">Registered Owner</label>
            </div>
            <div class="p-col-8">
              <input pInputText id="registeredOwner" formControlName="registeredOwner" />
            </div>
            <div class="p-col-4 text-right">
              <label for="salesPersonId">Sales Person</label>
            </div>
            <div class="p-col-8">
              <p-dropdown [options]="salesPersons" id="salesPersonId" [style]="{width: '100%'}" formControlName="salesPersonId"
                placeholder="Select a sales person"></p-dropdown>
            </div>
            <div class="p-col-4 text-right">
              <label for="customerTypeId">Customer Type</label>
            </div>
            <div class="p-col-8">
              <p-dropdown [options]="customerTypes" id="customerTypeId" [style]="{width: '100%'}" formControlName="customerTypeId"
                placeholder="Select customer type"></p-dropdown>
            </div>
            <div class="p-col-4 text-right">
              <label for="termId">Terms</label>
            </div>
            <div class="p-col-8">
              <p-dropdown [options]="terms" id="termId" [style]="{width: '100%'}" formControlName="termId" placeholder="Select payment term"></p-dropdown>
            </div>
            <div class="p-col-4 text-right">
              <label for="faxNo">Fax No</label>
            </div>
            <div class="p-col-8">
              <p-inputMask mask="(999)999-9999" id="faxNo" formControlName="faxNo"></p-inputMask>
            </div>
          </div>
        </div>
        <div class="p-col-12">
          <div class="p-grid">
            <div class="p-col-2 text-right">
              <label for="address">Address</label>
            </div>
            <div class="p-col-10">
              <textarea pInputTextarea id="address" formControlName="address"></textarea>
            </div>
          </div>
        </div>
      </div>
      <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
          <button type="button" pButton icon="fa fa-close" label="Close" (click)="toggleDialog(false)"></button>
          <button type="submit" pButton icon="fa fa-check" label="Save"></button>
        </div>
      </p-footer>
    </p-dialog>
  </form>
</div>