<div>
  <p-toast></p-toast>
  <p-blockUI [blocked]="loading"></p-blockUI>
  <p-progressBar mode="indeterminate" *ngIf="loading"></p-progressBar>
  <p-menubar [model]="menuItems"></p-menubar>
  <form *ngIf="form" [formGroup]="form">
    <div class="p-grid ui-fluid entry-header">
      <div class="p-col-12 p-md-6 p-lg-12">
        <div class="p-grid">
          <div class="p-col-1 text-right">
            <label for="date">Date*</label>
          </div>
          <div class="p-col-2">
            <p-calendar formControlName="date" [showIcon]="true" [monthNavigator]="true" [yearNavigator]="true"
              yearRange="1930:2030"></p-calendar>
          </div>
          <div class="p-col-1 text-right">
            <label for="refNo">Reference No.*</label>
          </div>
          <div class="p-col-1">
            <input pInputText id="refNo" formControlName="refNo" />
          </div>
          <div class="p-col-1 text-right">
            <label for="systemNo">System No.*</label>
          </div>
          <div class="p-col-1">
            <input pInputText id="systemNo" formControlName="systemNo" />
          </div>
        </div>
        <div class="p-grid">
          <div class="p-col-1 text-right">
            <label for="customerId">Customer*</label>
          </div>
          <div class="p-col-6">
            <p-dropdown [options]="customers" id="customerId" [style]="{width: '100%'}" formControlName="customerId"
              placeholder="Select customer" filter="true" (onChange)="customerChanged($event)"></p-dropdown>
          </div>
        </div>
        <div class="p-grid">
          <div class="p-col-1 text-right">
            <label for="address">Address*</label>
          </div>
          <div class="p-col-6">
            <textarea pInputTextarea id="address" formControlName="address"></textarea>
          </div>
        </div>
        <div class="p-grid">
          <div class="p-col-1 text-right">
            <label for="telNo">Telephone No</label>
          </div>
          <div class="p-col-2">
            <p-inputMask mask="(999)999-9999" id="telNo" formControlName="telNo"></p-inputMask>
          </div>
          <div class="p-col-1 text-right">
            <label for="faxNo">Fax No</label>
          </div>
          <div class="p-col-2">
            <p-inputMask mask="(999)999-9999" id="faxNo" formControlName="faxNo"></p-inputMask>
          </div>
        </div>
        <div class="p-grid">
          <div class="p-col-1 text-right">
            <label for="contactPerson">Contact Person</label>
          </div>
          <div class="p-col-3">
            <input pInputText id="contactPerson" formControlName="contactPerson" />
          </div>
          <div class="p-col-1 text-right">
            <label for="termId">Terms</label>
          </div>
          <div class="p-col-2">
            <p-dropdown [options]="terms" id="termId" [style]="{width: '100%'}" formControlName="termId" placeholder="Select payment term"></p-dropdown>
          </div>
        </div>
      </div>
    </div>
  </form>
  <p-table [value]="orderDetails" resizableColumns="true" #searchItemLoc>
    <ng-template pTemplate="header">
      <tr>
        <th pResizableColumn>Item Code</th>
        <th pResizableColumn style="width:450px">Description</th>
        <th style="width:100px">Qty</th>
        <th>Unit</th>
        <th style="width:100px">Unit Price</th>
        <th style="width:100px">Discount</th>
        <th style="width:150px">Sub Total</th>
        <th style="width:300px" pResizableColumn>Remarks</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
      <tr>
        <td>
          {{rowData.itemCode}}
        </td>
        <td pEditableColumn class="ui-fluid">
          <p-cellEditor>
            <ng-template pTemplate="input">
              <p-autoComplete [(ngModel)]="text" [suggestions]="searchedItems" (completeMethod)="searchItems($event)"
                [appendTo]="searchItemLoc" minLength="3" field="label" (onSelect)="itemChanged($event, rowData)"
                placeholder="Search item" emptyMessage="Item not found" autofocus="true" required></p-autoComplete>
              <!-- <p-dropdown [options]="items" [(ngModel)]="rowData.itemId" [style]="{'width':'100%'}" (click)="itemChanged(rowData)"></p-dropdown> -->
            </ng-template>
            <ng-template pTemplate="output">
              {{rowData.description}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td pEditableColumn class="text-right">
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="rowData.qty" (input)="computeSubTotal(rowData)" required>
            </ng-template>
            <ng-template pTemplate="output">
              {{rowData.qty}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td pEditableColumn>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <p-dropdown [options]="units" [(ngModel)]="rowData.unitId" [style]="{'width':'100%'}" [appendTo]="searchItemLoc"
                (onChange)="unitChanged($event, rowData)" placeholder="Select Unit" required></p-dropdown>
            </ng-template>
            <ng-template pTemplate="output">
              {{rowData.unitDescription}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td pEditableColumn class="text-right">
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="number" [(ngModel)]="rowData.unitPrice" (input)="computeSubTotal(rowData)"
                required>
            </ng-template>
            <ng-template pTemplate="output">
              {{rowData.unitPrice | currency:"&#8369;"}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td pEditableColumn class="text-right">
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="number" [(ngModel)]="rowData.discount" (input)="computeSubTotal(rowData)">
            </ng-template>
            <ng-template pTemplate="output">
              {{rowData.discount | currency:"&#8369;"}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td class="text-right">
          {{rowData.subTotal | currency:"&#8369;"}}
        </td>
        <td pEditableColumn>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="rowData.remarks" required>
            </ng-template>
            <ng-template pTemplate="output">
              {{rowData.remarks}}
            </ng-template>
          </p-cellEditor>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
        <tr>
            <td>No. of Items : {{ getTotalItem() }}</td>
            <td></td>
            <td class="text-right">{{ getTotalQty() }}</td>
            <td></td>
            <td class="text-right">{{ getTotalUnitPrice() | currency:"&#8369;" }}</td>
            <td class="text-right">{{  getTotalDiscount() | currency:"&#8369;" }}</td>
            <td class="text-right">{{ getTotalSubTotal() | currency:"&#8369;"}}</td>
            <td></td>
          </tr>
    </ng-template>
  </p-table>
</div>