<div>
  <p-toast></p-toast>
  <p-blockUI [blocked]="loading"></p-blockUI>
  <p-progressBar mode="indeterminate" *ngIf="loading"></p-progressBar>
  <app-payment-header
      [transactionType]="transactionType"
      [people]="vendors"
      [modeOfPayments]="modeOfPayments"
      [banks]="banks"
      [newItem]="newItem"
      (submit)="submit()"
      (onPeopleChanged)="onVendorChanged($event)"></app-payment-header>
</div>
<app-payment-reference-header
    [records]="invoices"
    (loadInvoice)="loadInvoice($event)"></app-payment-reference-header>
<app-payment-detail
    [transactionType]="transactionType"
    [units]="units"
    [items]="items"
    [reasons]="warehouses"
    [details]="details" 
    (addRow)="onAddRow($event)" 
    (deleteRow)="onDeleteRow($event)"></app-payment-detail>