<div>
  <p-toast></p-toast>
  <p-progressBar mode="indeterminate" *ngIf="loading"></p-progressBar>
  <p-menubar [model]="menuItems"></p-menubar>
  <p-table #dt [columns]="cols" [value]="items" selectionMode="single" [(selection)]="item" (onRowSelect)="onRowSelect($event)"
    [paginator]="true" [rows]="10" [globalFilterFields]="['itemCode','description']" sortField="name">
    <ng-template pTemplate="caption">
      <div style="text-align: right">
        <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
        <input type="text" pInputText size="50" placeholder="Search by item code or description" (input)="dt.filterGlobal($event.target.value, 'contains')"
          style="width:auto">
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          {{col.header}}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <td *ngFor="let col of columns">
          {{rowData[col.field]}}
        </td>
      </tr>
    </ng-template>
  </p-table>
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="createItem()">
    <p-dialog header="Item Form" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true"
      [style]="{width:'800px'}">
      <div class="p-grid ui-fluid" *ngIf="item">
        <div class="p-col-12 p-md-6 p-lg-6">
          <div class="p-grid">
            <div class="p-col-4 text-right">
              <label for="itemCode">Item Code</label>
            </div>
            <div class="p-col-8">
              <input pInputText id="itemCode" formControlName="itemCode" />
            </div>
          </div>
        </div>
        <div class="p-col-12 p-md-6 p-lg-6">
          <div class="p-grid">
            <div class="p-col-4 text-right">
              <label for="unitId">Unit</label>
            </div>
            <div class="p-col-8">
              <p-dropdown [options]="units" id="unitId" [style]="{width: '100%'}" formControlName="unitId" placeholder="Select item unit"></p-dropdown>
            </div>
          </div>
        </div>
        <div class="p-col-12">
          <div class="p-grid">
            <div class="p-col-2 text-right">
              <label for="description">Description</label>
            </div>
            <div class="p-col-10">
              <textarea pInputTextarea id="description" formControlName="description"></textarea>
            </div>
          </div>
        </div>
        <div class="p-col-12">
          <div class="p-grid">
            <div class="p-col-2 text-right">
              <label for="quantity">Quantity</label>
            </div>
            <div class="p-col-2">
              <input type="number" pInputText id="quantity" formControlName="quantity" />
            </div>
            <div class="p-col-2 text-right">
              <label for="unitPrice">Unit Price</label>
            </div>
            <div class="p-col-2 text-right">
              <input type="number" pInputText id="unitPrice" formControlName="unitPrice" />
            </div>
            <div class="p-col-2 text-right">
              <label for="costPrice">Cost Price</label>
            </div>
            <div class="p-col-2">
              <input type="number" pInputText id="costPrice" formControlName="costPrice" />
            </div>
          </div>
        </div>
        <div class="p-col-12">
          <div class="p-grid">
            <div class="p-col-3 text-center">
              <p-checkbox binary="true" label="Is Purchased" formControlName="isPurchased"></p-checkbox>
            </div>
            <div class="p-col-3 text-center">
              <p-checkbox binary="true" label="Is For Sale" formControlName="isForSale"></p-checkbox>
            </div>
            <div class="p-col-3 text-center">
              <p-checkbox binary="true" label="Is Inventory" formControlName="isInventory"></p-checkbox>
            </div>
            <div class="p-col-3 text-center">
              <p-checkbox binary="true" label="Is Imported" formControlName="isImported"></p-checkbox>
            </div>
          </div>
        </div>
      </div>
      <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
          <button type="button" pButton icon="fa fa-close" label="Close" (click)="toggleDialog(false)"></button>
          <button type="submit" pButton icon="fa fa-check" label="Save"></button>
        </div>
      </p-footer>
    </p-dialog>
  </form>
</div>