<p-menubar [model]="menuItems"></p-menubar>
<form *ngIf="form" [formGroup]="form">
  <div class="p-grid ui-fluid entry-header">
    <div class="p-col-12 p-md-6 p-lg-12">
      <div class="p-grid">
        <div class="p-col-1 text-right">
          <label for="date">Date*</label>
        </div>
        <div class="p-col-2">
          <p-calendar formControlName="date" [showIcon]="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="1930:2030"></p-calendar>
        </div>
        <div class="p-col-1 text-right">
          <label for="refNo">Reference No.</label>
        </div>
        <div class="p-col-2">
          <input pInputText id="refNo" formControlName="refNo" />
        </div>
        <div class="p-col-1 text-right">
          <label for="systemNo">System No.*</label>
        </div>
        <div class="p-col-2">
          <input pInputText id="systemNo" formControlName="systemNo" readonly placeholder="system generated" />
        </div>
      </div>
      <div class="p-grid" *ngIf="isWarehouseVisible()">
        <div class="p-col-1 text-right">
          <label for="warehouseId">Warehouse*</label>
        </div>
        <div class="p-col-2">
          <p-dropdown [options]="warehouses" id="warehouseId" [style]="{width: '100%'}" formControlName="warehouseId"
            placeholder="Select warehouse" (onChange)="warehouseChanged($event)"></p-dropdown>
        </div>
      </div>
      <div class="p-grid" *ngIf="isWarehousesFromAndToVisible()">
        <div class="p-col-1 text-right">
          <label for="fromWarehouseId">From Warehouse*</label>
        </div>
        <div class="p-col-2">
          <p-dropdown [options]="warehouses" id="fromWarehouseId" [style]="{width: '100%'}" formControlName="fromWarehouseId"
            placeholder="Select source warehouse"></p-dropdown>
        </div>
        <div class="p-col-1 text-right">
          <label for="toWarehouseId">To Warehouse*</label>
        </div>
        <div class="p-col-2">
          <p-dropdown [options]="warehouses" id="toWarehouseId" [style]="{width: '100%'}" formControlName="toWarehouseId"
            placeholder="Select destination warehouse"></p-dropdown>
        </div>
      </div>
      <div class="p-grid">
        <div class="p-col-1 text-right">
          <label for="comments">Description</label>
        </div>
        <div class="p-col-5">
          <textarea pInputTextarea id="description" formControlName="description"></textarea>
        </div>
      </div>
    </div>
  </div>
</form>