<p-menubar [model]="detailMenuItems"></p-menubar>
<p-table [value]="details" resizableColumns="true" #searchItemLoc selectionMode="multiple" [(selection)]="selectedRows">
  <ng-template pTemplate="header">
    <tr>
      <th pResizableColumn style="width:120px">Bill System No</th>
      <th pResizableColumn style="width:120px">Bill Ref No.</th>
      <th style="width:100px">Amount</th>
      <th style="width:100px">Amount Paid</th>
      <th style="width:100px">Amount Due</th>
      <th style="width:100px">Amount to Pay</th>
      <th style="width:100px">Amount Paid After Payment</th>
      <th style="width:100px">Amount Due After Payment</th>
      <th style="width:250px" pResizableColumn>Remarks</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-index="rowIndex">
    <tr tabindex="0" (keydown.enter)="OnEnter(index, rowData)" [pSelectableRow]="rowData">
      <td>
        {{rowData.billSystemNo}}
      </td>
      <td>
        {{rowData.billRefNo}}
      </td>
      <td class="text-right">
        {{rowData.billAmount}}
      </td>
      <td class="text-right">
        {{rowData.billAmountPaid}}
      </td>
      <td class="text-right">
        {{rowData.billAmountDue}}
      </td>
      <td pEditableColumn class="text-right">
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText type="text" [(ngModel)]="rowData.amount" (input)="compute(rowData)" required>
            <!-- <span class="pad5">
              {{rowData.amount}}
            </span> -->
          </ng-template>
          <ng-template pTemplate="output">
            {{rowData.amount}}
          </ng-template>
        </p-cellEditor>
      </td>
      <td class="text-right">
        {{rowData.amountPaidAfterPayment}}
      </td>
      <td class="text-right">
        {{rowData.amountDueAfterPayment}}
      </td>
      <td pEditableColumn>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText type="text" [(ngModel)]="rowData.remarks" required *ngIf="isDetailEditable(rowData)">
            <span class="pad5" *ngIf="!isDetailEditable(rowData)">
              {{rowData.remarks}}
            </span>
          </ng-template>
          <ng-template pTemplate="output">
            {{rowData.remarks}}
          </ng-template>
        </p-cellEditor>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="footer">
    <tr>
      <td></td>
      <td></td>
      <td class="text-right">{{ getTotal('billAmount') }}</td>
      <td class="text-right">{{ getTotal('billAmountPaid') }}</td>
      <td class="text-right">{{ getTotal('billAmountDue') }}</td>
      <td class="text-right">{{ getTotal('amount') }}</td>
      <td class="text-right">{{ getTotal('amountPaidAfterPayment') }}</td>
      <td class="text-right">{{ getTotal('amountDueAfterPayment') }}</td>
      <td></td>
    </tr>
  </ng-template>
</p-table>