<!--The content below is only a placeholder and can be replaced.-->
<div class='header ui-g'>
  <div class="ui-g-10">
    ALTRON ERP System
  </div>
  <div class="ui-g-2 text-right">
      <p-menubar [model]="settings"></p-menubar>
  </div>
</div>
<div class="ui-g menu-container">
  <div class="ui-g-2">
    <nav>
      <p-panelMenu [model]="items" [multiple]="false"></p-panelMenu>
    </nav>
  </div>
  <div class="ui-g-10 menu-content">
    <router-outlet></router-outlet>
  </div>
</div>
<div class='footer'>
  Copyright @ Altron LLC.
</div>