<div class="p-grid">
  <div class="p-col-12 header">
    <div class="p-grid">
      <div class="p-col-12 p-md-9 p-lg-6 p-xl-6 company-name">
        <img src="../assets/images/Gwapings.PNG" />
      </div>
      <div class="p-col-12 p-md-3 p-lg-2 p-xl-4 page-title">
        {{title}}
      </div>
      <div class="p-col-12 p-md-12 p-lg-4 p-xl-2 text-right">
        <p-menubar [model]="settings" styleClass="settings"></p-menubar>
      </div>
    </div>
  </div>
  <div class="p-col-12 p-md-2">
    <p-panelMenu [model]="items" [multiple]="false"></p-panelMenu>
  </div>
  <div class="p-col-12 p-md-10 p-col-nogutter menu-content">
    <div class="p-col-12">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="p-col-12 footer">
    &copy; Copyright @ Altron LLC.
  </div>
</div>