/* You can add global styles to this file, and also import other style files */
body{
    font-family: "Open Sans", "Helvetica Neue", "sans-serif"
}

body .ui-progressbar {
    height: 2px !important;
    border: none !important;
    background: none !important;
}

body .ui-panelmenu .ui-panelmenu-header > a .ui-panelmenu-icon {
 display: none !important;
}

.text-right{
    text-align: right;
}
.text-center {
    text-align: center;
}


body .ui-panelmenu .ui-panelmenu-content .ui-menuitem .ui-menuitem-link.ui-state-active {
    background-color: #005B9F !important;
    color: #FFFFFF !important;
}

body .ui-panelmenu .ui-panelmenu-content .ui-corner-all {
    border-radius: 0px !important;
}
