
/* You can add global styles to this file, and also import other style files */
body{
    font-family: "Open Sans", "Helvetica Neue", "sans-serif";
    font-size: 12px;
}

body .ui-inputtext{
    font-size: 12px;
}

body .ui-widget{
    font-size: 12px;
}

body .ui-progressbar {
    height: 2px;
    border: none !important;
    background: none !important;
}

body .ui-panelmenu .ui-panelmenu-header > a .ui-panelmenu-icon {
 display: none !important;
}

body .ui-table .ui-editable-column input{
    font-size: 12px;
}

body .ui-panelmenu .ui-panelmenu-content .ui-menuitem .ui-menuitem-link.ui-state-active {
    background-color: #005B9F !important;
    color: #FFFFFF !important;
}

body .ui-panelmenu .ui-panelmenu-content .ui-menuitem .ui-menuitem-link{
    font-size: 14px;
    padding-left: 40px !important;
}

body .ui-panelmenu .ui-panelmenu-content .ui-corner-all {
    border-radius: 0px !important;
}

.midTable.ui-table{
    width: 60%;
    margin-bottom: 10px;
}

body .ui-table .ui-table-tbody > tr > td {
    height: 30px;
}

body .ui-table .ui-table-thead > tr > th {
    color: #FFF;
    background-color: #007AD9;
}

body .ui-table .ui-table-tfoot > tr > td {
    color: #FFF;
    background-color: #005b9f;
}

.settings.ui-menubar {
    width: 210px;
    float: right;
}

.text-right{
    text-align: right;
}
.text-center {
    text-align: center;
}