<div>
  <p-progressBar mode="indeterminate" *ngIf="loading"></p-progressBar>
  <p-menubar [model]="menuItems"></p-menubar>
  <!-- <p-table #dt [columns]="cols" [value]="items" [paginator]="true" [rows]="15" sortField="name" [globalFilterFields]="['name','code']">
    <ng-template pTemplate="caption">
      <div style="text-align: right">
        <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
        <input type="text" pInputText size="50" placeholder="Search by code or name" (input)="dt.filterGlobal($event.target.value, 'contains')"
          style="width:auto">
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th [pSortableColumn]="code">Code
          <p-sortIcon [field]="code"></p-sortIcon>
        </th>
        <th [pSortableColumn]="name">Name
          <p-sortIcon [field]="name"></p-sortIcon>
        </th>
        <th [pSortableColumn]="address">Address
          <p-sortIcon [field]="address"></p-sortIcon>
        </th>
        <th [pSortableColumn]="telNo">Telephone No.
          <p-sortIcon [field]="telNo"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td>{{item.code}}</td>
        <td>{{item.name}}</td>
        <td>{{item.address}}</td>
        <td>{{item.telNo}}</td>
      </tr>
    </ng-template>
  </p-table> -->
  <p-table #dt [columns]="cols" [value]="items" selectionMode="single" [(selection)]="selectedItem" (onRowSelect)="onRowSelect($event)"
    [paginator]="true" [rows]="15" [globalFilterFields]="['name','code']" sortField="name">
    <ng-template pTemplate="caption">
      <div style="text-align: right">
        <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
        <input type="text" pInputText size="50" placeholder="Search by code or name" (input)="dt.filterGlobal($event.target.value, 'contains')"
          style="width:auto">
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          {{col.header}}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <td *ngFor="let col of columns">
          {{rowData[col.field]}}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>